<launch>
  <!-- nVidia GPU monitor to monitor temperature -->
  <node pkg="nvidia_gpu_monitor" type="nvidia_temp.py" name="nvidia_temp_mon"
        machine="c2" />

  <!-- Diagnostics analysis -->
  <rosparam param="diag_agg/analyzers/computers" >
    expected: [
    'Wifi Status (ddwrt)',
    'c1 CPU Temperature',
    'c1 CPU Usage',
    'c1 HD Temperature',
    'c1 HD Usage',
    'c2 CPU Temperature',
    'c2 CPU Usage',
    'c2 HD Temperature',
    'NTP offset from c1 to 10.68.255.1',
    'NTP offset from c2 to c1',
    'NTP self-offset for c1',
    'NTP self-offset for c2',
    'GPU Status']
  </rosparam>
</launch>
